@{ViewData["Title"] = "Manage Products";}
@model List<AppUser>

<div class="__admin">
    <div class="container">
        <div class="__manageproducts">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">MANAGE PRODUCTS</a>
            <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Add Product
            </button>
        </div>
        <div class="__productslist collapse" id="collapseExample">
            <div class="__rubrik">
                <span class="__smallbox">ID</span>
                <span class="__mediumbox">Tag</span>
                <span class="__mediumbox">Category</span>
                <span class="__largebox">Product Name</span>
                <span class="__largebox">Product Image</span>
                <span class="__smallbox">Rating</span>
                <span class="__smallbox">Price</span>
                <span class="__mediumbox">Description</span>
            </div>

            <div class="__productslist">
                @foreach (var user in Model)
                {
                    <div class="__products" role="group" aria-label="Button group with nested dropdown">
                        <span class="__smallbox"><p>@user.Id</p></span>
                        <span class="__mediumbox">@user.FirstName</span>
                        <span class="__mediumbox">@user.LastName</span>
                        <span class="__smallbox">@user.Email</span>
                        <span class="__smallbox">@user.PhoneNumber</span>

                        <div class="btn-group dropend" role="group">
                            <button type="button" class="btn btn-primary dropdown-toggle _extrabutton" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-gear"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target={"#updateProduct" + product._id}>EDIT PRODUCT</a></li>
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target={"#deleteProduct" + product._id}>DELETE PRODUCT</a></li>
                            </ul>

                            <div class="modal fade" id={"updateProduct" + product._id} data-bs-backdrop="static" data-bs-keyboard="false" tabIndex={-1} aria-labelledby="updateProducttLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <ProductUpdate key={product._id} product={product} />
                                </div>
                            </div>

                            <div class="modal fade" id={"deleteProduct" + product._id} tabIndex={-1} aria-labelledby="deleteProductLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <ProductDelete key={product._id} product={product} />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabIndex={-1} aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <form class="modal-dialog" onSubmit={handleCreate}>
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Add a new Product</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="d-grid mb-2">
                            <label htmlFor="product_tag">Tag <span class="required">*</span></label>
                            <select id="product_tag" class="form-select" aria-label="Default select example">
                                <option value="">Select Tag</option>
                                <option value="featured">featured</option>
                                <option value="square">square</option>
                                <option value="tripple">tripple</option>
                            </select>
                        </div>
                        <div class="d-grid mb-2">
                            <label htmlFor="product_category">Category <span class="required">*</span></label>
                            <input id="product_category" type="text" placeholder="" required />
                        </div>
                        <div class="d-grid mb-2">
                            <label htmlFor="product_name">Product name  <span class="required">*</span></label>
                            <input id="product_name" type="text" placeholder="" required />
                        </div>
                        <div class="d-grid mb-2">
                            <label htmlFor="product_image">Product image link <span class="required">*</span></label>
                            <input id="product_image" type="text" placeholder="" required />
                        </div>
                        <div class="d-grid mb-2">
                            <label htmlFor="product_rating">Rating <span class="required">*</span></label>
                            <input id="product_rating" type="text" placeholder="" required />
                        </div>
                        <div class="d-grid mb-2">
                            <label htmlFor="product_price">Price <span class="required">*</span></label>
                            <input id="product_price" type="text" placeholder="" required />
                        </div>
                        <div class="d-grid mb-2">
                            <label htmlFor="product_decription">Decription</label>
                            <textarea id="product_decription" placeholder=""></textarea>
                        </div>
                    </div>
                    {
                    created ?  (<div class="modal-body alert alert-success text-center">Product is added successfully!</div>) : (<></>)
                    }
                    {
                    failed ?   (<div class="modal-body alert alert-danger text-center">Creating product is failed!</div>) : (<></>)
                    }
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Create</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>