@{ViewData["Title"] = "Manage Products";}
@model List<ProductViewModel>

<div class="__admin">
    <div class="container">
        <div class="__manageusers">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">MANAGE PRODUCTS</a>
            <a asp-action="productadd" asp-controller="admin" class="__adduser">ADD PRODUCT</a>
        </div>
        <div class="__productslist collapse" id="collapseExample">
            <div class="__rubrik">
                <span class="__smallbox">ID</span>
                <span class="__mediumbox">Tag</span>
                <span class="__mediumbox">Category</span>
                <span class="__largebox">Product Name</span>
                <span class="__largebox">Product Image</span>
                <span class="__smallbox">Rating</span>
                <span class="__smallbox">Price</span>
                <span class="__mediumbox">Description</span>
            </div>

            <div class="__productslist">
                @foreach (var product in Model)
                {
                    <div class="__products" role="group" aria-label="Button group with nested dropdown">
                        <span class="__smallbox"><p>@product.ProductId</p></span>
                        <span class="__mediumbox">@product.Name</span>
                        <span class="__mediumbox">@product.Price</span>
                        <span class="__smallbox">@product.Rating</span>
                        <span class="__smallbox">@product.Description</span>
                        @foreach (var images in product.Images)
                        {
                            <img src="~/images/products/@images.ImageUrl" alt="@images.ImageUrl" class="__smallbox" />
                        }>

                    </div>
                }
            </div>
        </div>

        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabIndex={-1} aria-labelledby="staticBackdropLabel" aria-hidden="true">
      @*      <partial name="/Views/Partials/_AddUser.cshtml" />*@
        </div>
    </div>
</div>