@{
    ViewData["Title"] = "Add a new Product";
}
@model ProductAddViewModel

<div class="__admin">
    <div class="container">
        <form id='registerForm' enctype="multipart/form-data" method="post">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Add a new User</h1>


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="__input">
                <div class="userdetails">
                    <label asp-for="Name">Product Name *</label>
                    <input asp-for="Name" required />
                    <small class="text-danger"><span asp-validation-for="Name"></span></small>
                </div>
                <div class="userdetails">
                    <label asp-for="Price">Price *</label>
                    <input asp-for="Price" required />
                    <small class="text-danger"><span asp-validation-for="Price"></span></small>
                </div>
            </div>

            <div class="__input">
                <div class="userdetails">
                    <label asp-for="Description">Description *</label>
                    <input asp-for="Description" required />
                    <small class="text-danger"><span asp-validation-for="Description"></span></small>
                </div>
            </div>

            <div class="__input">
                <div class="userdetails">
                    <label asp-for="AdditionalInfo">Description *</label>
                    <input asp-for="AdditionalInfo" required />
                    <small class="text-danger"><span asp-validation-for="AdditionalInfo"></span></small>
                </div>
            </div>

            <div class="__input">
                <div class="userdetails">
@*                    <select name="Tags[]" multiple class="form-select" aria-label="Default select example">
                        @foreach(SelectListItem tag in ViewBag.Tags)
                        {
                            <option value="@tag.Value" >@tag.Text</option>
                        }
                    </select>*@

                   @* @Html.DropDownList("tags", (SelectList)ViewBag.tags, "Select Tag", new { @class = "form-control" })*@

@*                    @foreach(SelectListItem tag in ViewBag.Tags)
                    {
                        <div>
                            <input type="checkbox" name="Tags" value="@tag.Value" checked="@tag.Selected" class="form-check-input"/>
                            <label for="@tag.Value" class="form-check-input">@tag.Text</label>
                        </div>
                    }*@
                </div>
            </div>

            <div class="__input">
                <div class="__tagSelection">
                     @foreach(SelectListItem tag in ViewBag.Tags)
                    {
                    <div>
                        <input type="checkbox" name="Tags" id="@tag.Text-@tag.Value" class="btnx-check" value="@tag.Value" @*id="btn-check-2"*@ @*checked="@tag.Selected"*@ autocomplete="on">
                        <label class="btn btn-primary" for="@tag.Text-@tag.Value">@tag.Text</label>
                    </div>
                    }
                </div>
            </div>

            <div class="userdetails">
                <label asp-for="Image">Upload Product Image(s) *</label>
                <input asp-for="Image" multiple required />
            </div>

            @if (TempData["Message"] != null)
            {
                <div class="alert alert-success">
                    @TempData["Message"]
                </div>
            }

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Create</button>
                <button asp-action="users" asp-controller="admin" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
</div>
