@{
    ViewData["Title"] = "Add a new Product";
}
@model ProductAddViewModel

<div class="__admin">
    <div class="container">
        <form id='registerForm' enctype="multipart/form-data" method="post">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Add a new Product</h1>


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="__input">
                <div class="userdetails">
                    <label asp-for="Name">Product Name *</label>
                    <input asp-for="Name" required />
                    <small class="text-danger"><span asp-validation-for="Name"></span></small>
                </div>
                <div class="userdetails">
                    <label asp-for="Price">Price *</label>
                    <input asp-for="Price" required />
                    <small class="text-danger"><span asp-validation-for="Price"></span></small>
                </div>
            </div>

            <div class="__input">
                <div class="userdetails">
                    <label asp-for="Description">Description (Optional</label>
                    <input asp-for="Description" />
                    <small class="text-danger"><span asp-validation-for="Description"></span></small>
                </div>
            </div>

            <div class="__input">
                <div class="userdetails">
                    <label asp-for="AdditionalInfo">Additional Info (Optional)</label>
                    <input asp-for="AdditionalInfo" />
                    <small class="text-danger"><span asp-validation-for="AdditionalInfo"></span></small>
                </div>
            </div>

            <div class="__input">
                <div class="userdetails">
                    <div class="__categorySelection">
                        <select name="Category" class="form-select" aria-label="Default select example">
                            <option selected disabled>Select Category *</option>
                            @foreach (SelectListItem category in ViewBag.Categories)
                            {                                
                                <option value="@category.Value">@category.Text</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="userdetails">
                    <div class="__tagSelection">
                        @foreach (SelectListItem tag in ViewBag.Tags)
                        {
                            <div>
                                <input type="checkbox" name="Tags" id="@tag.Text-@tag.Value" class="btnx-check" value="@tag.Value" @*id="btn-check-2"*@ @*checked="@tag.Selected"*@ autocomplete="on">
                                <label class="btn btn-primary" for="@tag.Text-@tag.Value">@tag.Text</label>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="userdetails">
                <label asp-for="Image">Upload Product Image(s) *</label>
                <input asp-for="Image" multiple required />
            </div>
@*
            @if (TempData["Message"] != null)
            {
                <div class="alert alert-success">
                    @TempData["Message"]
                </div>
            }*@

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Create</button>
                <button asp-action="users" asp-controller="admin" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
</div>
