@{ViewData["Title"] = "Manage Products";}

<div class="__admin">
    <div class="container">
        <div class="__manageusers">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">MANAGE PRODUCTS</a>
            <a asp-action="productadd" asp-controller="admin" class="__adduser">ADD PRODUCT</a>
        </div>
        <div class="__productslist collapse" id="collapseExample">
            <div class="__rubrik">
                <span class="__smallbox">ID</span>
                <span class="__mediumbox">Tag</span>
                <span class="__mediumbox">Category</span>
                <span class="__largebox">Product Name</span>
                <span class="__largebox">Product Image</span>
                <span class="__smallbox">Rating</span>
                <span class="__smallbox">Price</span>
                <span class="__mediumbox">Description</span>
            </div>

            <div class="__productslist">
@*                @foreach (var user in Model)
                {
                    <div class="__products" role="group" aria-label="Button group with nested dropdown">
                        <span class="__smallbox"><p>@user.Id</p></span>
                        <span class="__mediumbox">@user.FirstName</span>
                        <span class="__mediumbox">@user.LastName</span>
                        <span class="__smallbox">@user.Email</span>
                        <span class="__smallbox">@user.PhoneNumber</span>

                        <div class="btn-group dropend" role="group">
                            <button type="button" class="btn btn-primary dropdown-toggle _extrabutton" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-gear"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target={"#updateProduct" + @user.Id}>EDIT PRODUCT</a></li>
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target={"#deleteProduct" + @user.Id}>DELETE PRODUCT</a></li>
                            </ul>

                            <div class="modal fade" id={"updateProduct" + @user.Id} data-bs-backdrop="static" data-bs-keyboard="false" tabIndex={-1} aria-labelledby="updateProducttLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <ProductUpdate key={product._id} product={product} />
                                </div>
                            </div>

                            <div class="modal fade" id={"deleteProduct" + @user.Id} tabIndex={-1} aria-labelledby="deleteProductLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <ProductDelete key={product._id} product={product} />
                                </div>
                            </div>
                        </div>
                    </div>
                }*@
            </div>
        </div>

        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabIndex={-1} aria-labelledby="staticBackdropLabel" aria-hidden="true">
      @*      <partial name="/Views/Partials/_AddUser.cshtml" />*@
        </div>
    </div>
</div>