@{
    ViewData["Title"] = "Product Details";
}
@model ProductViewModel


<partial name="/Views/Partials/_Breadcrumb.cshtml" />

<div class="__productsignal">
    <div class="container">
        <div class="__productdetailsbox">
            <div class="__productimages">
                <div class="container">
                    <ul class="slides">
                        @foreach (var images in @Model.Images)
                        {
                        <li id="@images.ImageUrl"><img src="~/images/products/@images.ImageUrl" class="product-image" alt="@Model.Name" /></li>
                        }
                    </ul>

                    <ul class="thumbnails">                       
                        @foreach (var images in @Model.Images) 
                        {
                        <li>
                            <a href="#@images.ImageUrl" ><img src="~/images/products/@images.ImageUrl" class="product-image" alt="@Model.Name" /></a>
                        </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="__productdetails">
                <h1>@Model.Name</h1>

                <p>Discovered had get considered projection who favourable. Necessary up knowledge it tolerably. Unwilling departure education is be dashwoods or an. Use off agreeable law unwilling sir deficient curiosity instantly. <a href="#">(read more)</a></p>

                <hr />

                <h2>$ @Model.Price</h2>

                <div class="__productquantity">
                    <span>
                        <h1>Qty:</h1>

                    </span>
                    <button type='submit' class='button-add-to-cart'><span>ADD TO CART</span></button>
                </div>
                
                
                <div class="__productshare">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1"></label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2"></label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                        <label class="form-check-label" for="inlineRadio3"></label>
                    </div>
                    <div>SKU: 12345670</div>
                </div>

                <div class="__productsize">
                    <button type='submit' class='btn'><span>Add to wishlist</span></button>
                </div>
                <div class="__productcolor">
                    Category:
                    @foreach (var category in @Model.Categories)
                    {
                        @category.Id @category.Category
                    }
                </div>

            </div>
        </div>

        <partial name="/Views/Partials/_ExtraDetails.cshtml" />

        <div class="container">
            <h3>Related Products</h3>
        </div>

@*        <div class="containerx">
            <div class="owl-carousel">
                @foreach (var relatedProduct in Model.RelatedProducts!)
                {
                    <div class="__card">
                        <div class="card-img">
                            @if (relatedProduct.Images.Any())
                            {
                                <img src="~/images/products/@relatedProduct.Images.First().ImageUrl" class="product-image" alt="@relatedProduct.Name" />
                            }
                            <div class="card-menu">
                                <button onClick={addToWishList} class="__menulink"><i class="fa-regular fa-basket-shopping"></i></button>
                                <button onClick={addToCompare} class="__menulink"><i class="fa-regular fa-heart"></i></button>
                                <button onClick={addToCompare} class="__menulink"><i class="fa-regular fa-eye"></i></button>
                                <button onClick={addToCompare} class="__menulink"><i class="fa-regular fa-expand"></i></button>
                            </div>
                        </div>
                        <div class="__card-body">
                            <a asp-controller="product" asp-action="index" asp-route-articlenumber="@relatedProduct.ProductId" class="button-quick-view">
                                @relatedProduct.Name
                            </a>
                            <h5 class="product-price"><span> </span> @relatedProduct.Price</h5>
                        </div>
                    </div>
                }
            </div>
        </div>*@

    </div>
</div>