@model List<UserViewModel>

@foreach (var user in Model)
{
    <div class="__userdetails" role="group" aria-label="Button group with nested dropdown">
        <span class="__mediumbox">@user.FirstName</span>
        <span class="__mediumbox">@user.LastName</span>
        <span class="__largebox">@user.Email</span>

        <h5 class="__usercardlink">
            <button class="dropdown-item" data-bs-toggle="modal" data-bs-target=#showUserCard@(@user.UserId)><i class="fa-solid fa-address-card"></i> SHOW USERCARD</button>
        </h5>

        <div class="btn-group dropend" role="group">
@*            <button type="button" class="btn btn-primary dropdown-toggle _extrabutton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-gear"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target=#updateProduct@(@user.UserId)>EDIT PRODUCT</a></li>
                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target=#deleteProduct@(@user.UserId)>DELETE PRODUCT</a></li>
            </ul>*@

            <div class="modal fade" id=showUserCard@(@user.UserId) data-bs-backdrop="static" data-bs-keyboard="false" tabIndex={-1} aria-labelledby="showUserCardLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div>
                            <div class="modal-header  __modalheader">
                                <div class="modal-title _modal-title fs-5" id="showUserCardLabel"><div class="__modalheader_title">UserCard</div><div class="__modalheader_text"><h6>ID: @user.UserId</h6></div></div>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="__detailsbox1">
                                    <div class="__details1">
                                        <div class="__details11">
                                            <span>@user.FirstName</span>
                                            <span>@user.LastName</span>
                                        </div>
                                        <span>@user.Email</span>
                                        <span>@user.PhoneNumber</span>
                                        <span>@user.Company</span>
                                    </div>
                                    <div class="__details2">
                                        <img src="~/images/users/@user.ImageUrl" alt="@user.FirstName" width="100px" height="100px" />
                                        <p class="__smallbox"> Role: <span>@user.Role</span></p>
                                    </div>
                                </div>

                                <div class="__detailsbox2">
                                    @foreach (var address in user.Addresses)
                                    {
                                        <div class="__details3">
                                            <span>@address.StreetName</span>
                                        </div>
                                        <div class="__details4">
                                            <span>@address.PostalCode</span>
                                            <span>@address.City</span>
                                        </div>
                                    }
                                </div>
                            </div>

                            <div class="modal-footer">
                                <div class="__buttonrow">
                                    <button type="submit" class="btn btn-success" id="submitButton">Update</button>
                                    <button type="button" class="btn btn-danger"  data-bs-toggle="modal" data-bs-target=#deleteProduct@(@user.UserId)>Delete</button>
                                </div>
                                <div class="__buttonrow">
                                    @if (@user.Role == "user")
                                    {
                                        <button type="submit" class="btn btn-warning" id="submitButton" onclick="MakeAdmin('@user.UserId')">Make Admin</button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-warning" id="submitButton" onclick="MakeAdmin('@user.UserId')">Take Admin</button>
                                    }                                    
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id=deleteProduct@(@user.UserId) tabIndex={-1} aria-labelledby="deleteProductLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <form  class="modal-content" method="post">
                        <div class="modal-body">
                            Are you sure delete this product? - @user.UserId
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary __delete" data-bs-dismiss="modal" onclick="deleteUser('@user.UserId')">YES, Delete!</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

<script>
    async function deleteUser(userId) {
        const response = await fetch(`/delete/${userId}`, {
            method: 'POST'
        });
        if (response.ok) {
            // Reload the page to reflect the updated user list
            location.reload();
        } else {
            // Handle errors
            console.error('Error deleting user:', response.statusText);
        }
    }

    async function MakeAdmin(userId) {
        const response = await fetch(`/make/${userId}`, {
            method: 'POST'
        });
        if (response.ok) {
            // Reload the page to reflect the updated user list
            location.reload();
        } else {
            // Handle errors
            console.error('Error deleting user:', response.statusText);
        }
    }
</script>