@model List<UserViewModel>

@foreach (var user in Model)
{
    <div class="__usercard" role="group" aria-label="Button group with nested dropdown">
        <span class="__smallbox"><p>@user.UserId</p>ID</span>
        <span class="__mediumbox">@user.FirstName</span>
        <span class="__mediumbox">@user.LastName</span>
        <span class="__smallbox">@user.Email</span>
        <span class="__smallbox">@user.PhoneNumber</span>
        <span class="__smallbox">@user.Company</span>
        <span class="__smallbox">@user.Role</span>
        @foreach (var address in user.Addresses)
        {
            <span class="__smallbox">@address.StreetName</span>
            <span class="__smallbox">@address.PostalCode</span>
            <span class="__smallbox">@address.City</span>
        }
        <div class="btn-group dropend" role="group">
            <button type="button" class="btn btn-primary dropdown-toggle _extrabutton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-gear"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target=#updateProduct@(@user.UserId)>EDIT PRODUCT</a></li>
                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target=#deleteProduct@(@user.UserId)>DELETE PRODUCT</a></li>
            </ul>

            <div class="modal fade" id=updateProduct@(@user.UserId) data-bs-backdrop="static" data-bs-keyboard="false" tabIndex={-1} aria-labelledby="updateProducttLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <ProductUpdate key=@user.UserId product={product} />
                </div>
            </div>

            <div class="modal fade" id=deleteProduct@(@user.UserId) tabIndex={-1} aria-labelledby="deleteProductLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <form  class="modal-content" method="post">
                        <div class="modal-body">
                            Are you sure delete this product? - @user.UserId
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary __delete" data-bs-dismiss="modal" onclick="deleteUser('@user.UserId')">YES, Delete!</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

<script>
    async function deleteUser(userId) {
        const response = await fetch(`/delete/${userId}`, {
            method: 'POST'
        });
        if (response.ok) {
            // Reload the page to reflect the updated user list
            location.reload();
        } else {
            // Handle errors
            console.error('Error deleting user:', response.statusText);
        }
    }
</script>